{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Leis Municipal</title>
  </head>
  <body>
    <!-- <header></header> -->
    <nav>
      <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <button class="botao btn-3 hover-border-1">
            <span><a class="link-dark" href={% url 'index' %}>Voltar</a></span>
          </button>
          <button class="botao btn-3 hover-border-1">
            <span><a class="link-dark" href={% url 'account_logout' %}>Sair</a></span>
          </button>
        </div>
      </nav>
    </nav>
      <main>
        <article class="title-personalizado">
          <div id="container-img"> 
          <div class="img"><img src="/media//imagens/balance1.png">
          </div>
           <h1 class="title-h1">Legislação Online</h1>
          </div>
          <p class="subtitle line">
           <span><i class="icon-flash"></i>Taquaritinga - SP<i class="icon-flash"></i></span>
           <div id="container-img">
            <img src="/media//imagens/brasao.png" class="brasao-img"></img>
          </div>
          </p>
        </article>
        <main>
            <div class="formulario1">
    
                <form class="form1" action="{% url 'form' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
        
                  <div class="form-item1 col-responsive">
                    <input name="numero" class="input1" type="text" required="required" id="name1"/>
                    <label class="label1" for="nome">Numero</label>
                  </div>
                  
                  <div class="form-item1 col-responsive">
                    <input name="ano" class="input1" type="text" name="email" required="required" id="email1"/>
                    <label class="label1" for="email">Ano</label>
                  </div>
                  <div class="form-item1">
                    <textarea class="textarea1" name="texto" required="required" id="textarea1"></textarea>
                    <label class="label1" for="mensagem">mensagem</label>
                  </div>

                  <div class="form-item1">
                    <select  name="situacao" class="input1">
                        <option selected>Escolha a Situação</option>
                        <option value="Em vigor">Em vigor</option>
                        <option value="Em vigor, com alterações posteriores">Em vigor, com alterações posteriores</option>
                        <option value="Em vigor, com regulamentação">Em vigor, com regulamentação</option>
                        <option value="Declarada inconstitucional pelo TJ">Declarada inconstitucional pelo TJ</option>
                        <option value="Revogada">Revogada</option>
                      </select>
                  </div>
                  <div class="form-item1">
                    <input name="my_file" class="form-control" type="file" id="formFile">
                  </div>
                  
                  <div class="form-item1">
                    <button class="botao btn-3 hover-border-2"><input class="botao1" type="submit" value="Enviar"/></button>
                  </div>
        
                </form>
            
            </div><!--Class Formulario--> 
        </main>

    </body>
    </html>