/*Formulário*/

input,
textarea {
  border: 0;
  outline: 0;
  font-size: 1.2em;
  background: transparent;
  color: #797979;
  position: relative;
  font-family: "open_sansregular";
}

textarea1 {
  resize: none;
}

.formulario1 {
  max-width: 540px;
  margin: 0 auto;
  border-radius: 2px;
}

.form1 {
  display: flex;
  flex-wrap: wrap;
}

.form-item1 {
  position: relative;
  width: 100%;
  padding: 1em;
}

@media only screen and (min-width: 768px) {
  .form-item1.col-responsive {
    width: 50%;
  }
}

.form-item1 .textarea1 {
  height: 10em;
}
.form-item1 .input1,
.form-item1 .textarea1 {
  display: block;
  padding: 1em;
  width: 100%;
  transition: all 0.3s;
  border-bottom: 2px solid #212529;
}

.form-item1 .input1:focus,
.form-item1 .textarea1:focus {
  border-bottom: 2px solid #333333;
}

.form-item1 .input1:valid + .label1,
.form-item1 .input1:focus + .label1,
.form1-item .textarea1:valid + .label1,
.form-item1 .textarea1:focus + .label1 {
  top: 1em;
  left: 1em;
  font-size: 0.9em;
}

.form-item1 .input1:valid,
.form1-item .textarea1:valid {
  border-bottom: 2px solid #212529;
}

.form-item1 .label1 {
  position: absolute;
  top: 2em;
  left: 2em;
  text-transform: capitalize;
  transition: all 0.3s;
}

.form-item1 .botao {
  display: block;
  width: 120px;
  padding: 0.8em 0.6em;

  color: #000000;
  cursor: pointer;
  transition: all 0.3s;
  width: 100%;
  margin: 0;
}

.form-item1 .botao1:hover {
  color: #212529;
}

.form-item1 .botao1:active {
  color: #2a05ff;
}
/*Formulário*/

/* messages */
ul.messages {
  list-style: none;
  animation-name: fate;
  animation-duration: 4s;
  opacity: 0;
  margin-left: auto;
  margin-right: auto;
}
main .container .botao {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
