@keyframes animacao {
  from {opacity: 0;}
  to {opacity: 1;}
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;

}

body{
   display: flex;
   flex-wrap: wrap;
   margin: 3px;
   flex: 1 1 100vw; 

  
}

/*header {
    display: flex;
    margin: 3px;
    flex: 1 1 100vw; 
    background: gray;
}*/

nav {
    display: flex;
    flex: 1 1 100vw; 
    animation-name: animacao;
    animation-duration: 0.5s;

    

}

main {
    flex: 1 1 100vw;


}    


aside {
    display: flex;
    margin: 3px;
    flex: 1 1 100vw; 

}

/*footer {
    display: flex;
    margin: 3px;
    flex: 1 1 100vw; 
    background: gray;
}*/

/* Table */
#container-table {
    max-width: 80%;
    margin-left: 10%;
    height: 450px;
    overflow: hidden;
    margin-top: 0;
    animation-name: animacao;
    animation-duration: 3s;
}
#container-table:hover {
  overflow: scroll;
}



/* título personalizado */
.title-h1 {
  
    font-family:'open_sansregular';
    font-size: 2em;
    text-align: center;
    margin-bottom:20px;
    animation-name: animacao;
    animation-duration: 1s;


    
  
  }
  
  .title-personalizado {
  
    width: 100%;
    overflow: hidden;
    margin: 20px auto 50px;
    
  
  }
  
  .subtitle { margin: 0 0 1.5em 0; }
  
  .line {
    line-height: 0.5;
    text-align: center;
    animation-name: animacao;
    animation-duration: 1s;
    margin-top: 10px;
  }
  
  .line span {
    display: inline-block;
    position: relative;  
  }
  
  .line span:before,
  .line span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    top: 0;
    width: 500px;
  }
  
  .line span:before {
    right: 100%;
    margin-right: 18px;
  }
  
  .line span:after {
    left: 100%;
    margin-left: 18px;
  }
  
  .line span i { color:#00c6ce; }
  
  .text {
  
    font-family:'open_sanslight';
    text-align: center;

  
  }
  
  .text p {
    margin: 0 0 1em 0;
  }
  
  .text a {
    
    text-decoration:underline;
    color:#00c6ce; 
  }
  
  .text a:hover {
    
    color:#232323; 
  }
  
  /*Responsivo*/
  /*768PX BREAKPOINT*/
  @media (min-width:48em){
  
  .title-personalizado { width:60%; }
  .title-h1            { font-size:3.2em; }
  
  }


  /* nav button*/
  .botao:active, .botao:hover, .botao:focus {
    outline: 0!important;
    outline-offset: 0;
  }
  
  .botao::before,
  .botao::after {
    position: absolute;
    content: "";
  }
  
  .botao {
  
    position: relative;
    display: inline-block;
    width: auto; height: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: -1px 25px 5px;
    min-width: 100px;

  
  }
  
  .botao span {         
  
      position: relative;
      display: inline-block;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 2px;
      text-transform: uppercase;
      top: 0; left: 0;
      width: 100%;
      padding: 15px 20px;
      transition: 0.3s;

  
  }
  
  /*--- btn-3 ---*/

  .btn-3 {
    padding: 5px;

    
  }
  
  .btn-3 span {
    color: #212529;
    background-color: rgb(255, 255, 255);
    z-index: 3;

  }

  
  .btn-3::before,
  .btn-3::after {
    background: transparent;
    z-index: 2;
  }
  
  .botao.hover-border-1::before,
  .botao.hover-border-1::after {
    width: 10%; height: 25%;
    transition: 0.35s;
  }
  
  .botao.hover-border-1::before {
    top: 0; left: 0;
    border-left: 1px solid rgb(255, 255, 255);
    border-top: 1px solid rgb(255, 255, 255);
  }
  
  .botao.hover-border-1::after {
    bottom: 0; right: 0;
    border-right: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
  }
  
  .botao.hover-border-1:hover::before,
  .botao.hover-border-1:hover::after {
    width: 99%;
    height: 98%;
  }
  
  /* 12. hover-border-2 */
  .botao.hover-border-2::before,
  .botao.hover-border-2::after {
    width: 10%; height: 25%;
    transition: 0.35s;
  }
  
  .botao.hover-border-2::before {
    bottom: 0; left: 0;
    border-left: 2px solid #212529;
    border-bottom: 2px solid #212529;
  }
  
  .botao.hover-border-2::after {
    top: 0; right: 0;
    border-right: 2px solid #212529;
    border-top: 2px solid #212529;
  }
  
  .botao.hover-border-2:hover::before,
  .botao.hover-border-2:hover::after {
    width: 99%;
    height: 99%;
  }
  
  /* 13. hover-border-3 */
  .botao.hover-border-3::before,
  .botao.hover-border-3::after {
    width: 0%; height: 0%;
    opacity: 0;
    transition: width 0.2s 0.15s linear, height 0.15s linear, opacity 0s 0.35s;
  }
  
  .botao.hover-border-3::before {
    top: 0; right: 0;
    border-top: 1px solid rgb(0, 124, 255);
    border-left: 1px solid rgb(0, 124, 255);
  }
  
  .botao.hover-border-3::after {
    bottom: 0; left: 0;
    border-bottom: 1px solid rgb(0, 124, 255);
    border-right: 1px solid rgb(0, 124, 255);
  }
  
  .botao.hover-border-3:hover::before,
  .botao.hover-border-3:hover::after {
    width: 100%; height: 99%;
    opacity: 1;
    transition: width 0.2s linear, height 0.15s 0.2s linear, opacity 0s;   
  }
  
  /* 14. hover-border-4 */
  .botao.hover-border-4::before,
  .botao.hover-border-4::after {
    width: 0%; height: 0%;
    opacity: 0;
    transition: width 0.2s linear, height 0.15s 0.2s ease-out, opacity 0s 0.35s;
  }
  
  .botao.hover-border-4::before {
    bottom: 0; left: -1px;
    border-top: 1px solid rgb(0, 124, 255);
    border-left: 1px solid rgb(0, 124, 255);
  }
  
  .botao.hover-border-4::after {
    top: 0; right: 0;
    border-bottom: 1px solid rgb(0, 124, 255);
    border-right: 1px solid rgb(0, 124, 255);
  }
  
  .botao.hover-border-4:hover::before,
  .botao.hover-border-4:hover::after {
    width: 100%; height: 99%;
    opacity: 1;
    transition: width 0.2s 0.15s ease-out, height 0.15s ease-in, opacity 0s;   
  }
  
  /* 15. hover-border-5 */
  .botao.hover-border-5::before,
  .botao.hover-border-5::after {
    width: 0%; height: 0%;
    opacity: 0;
  }
  
  .botao.hover-border-5::before {
    top: 0; right: 0;
    border-top: 1px solid #212529;
    border-left: 1px solid #212529;
    transition: width 0.2s 0.5s ease-out, height 0.15s 0.35s linear, opacity 0s 0.7s;
  }
  
  .botao.hover-border-5::after {
    bottom: 0; left: 0px;
    border-bottom: 1px solid #212529;
    border-right: 1px solid #212529;
    transition: width 0.2s 0.15s linear, height 0.15s ease-in, opacity 0s 0.35s;
  }
  
  .botao.hover-border-5:hover::before,
  .botao.hover-border-5:hover::after {
    width: 100%; height: 96%;
    opacity: 1;
  }
  
  .botao.hover-border-5:hover::before {
    transition: width 0.2s ease-in, height 0.15s 0.2s linear, opacity 0s;   /* 1,2 */
  }
  
  .botao.hover-border-5:hover::after {
    transition: width 0.2s 0.35s linear, height 0.15s 0.5s ease-out, opacity 0s 0.3s; 
  } 

/* carrossel */
.peaple {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
}


img {
  width: 100px;
  height: 100px;
  max-width: 100%;
  max-height: 100%;
  display: flex;
}

#container-img{
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: stretch;
  animation-name: animacao;
  animation-duration: 2s;
}

.brasao-img {
  width: 100px;
  height: 100px;
}




